In [46]:
import pandas as pd
import numpy as np

df = pd.read_excel("ABEV3.xlsx", header=3)
df.rename(columns={"Volume$": "Volume"}, inplace=True)
col = list(df.columns)
print(col)
col.remove("Data")
col.remove("Q Negs")
col.remove("Q Títs")
df[col] = df[col].replace("-", np.nan)
df.dropna(inplace=True)
df[col].astype(float)
col.insert(0, "Data")
df = df[df.Data > '2014-11-14']
df = df[col]
df.sort_values("Fechamento")

['Data', 'Q Negs', 'Q Títs', 'Volume$', 'Fechamento', 'Abertura', 'Mínimo', 'Máximo', 'Médio']

,Data,Volume$,Fechamento,Abertura,Mínimo,Máximo,Médio
6921,2014-12-15,226789871.0,13.124307,13.285915,12.758562,13.439018,13.115801
6922,2014-12-16,247953363.0,13.141318,12.945687,12.928676,13.600627,13.200858
6920,2014-12-12,208372363.0,13.183847,13.439018,13.183847,13.558098,13.285915
6917,2014-12-09,192073718.0,13.336950,13.353961,13.030744,13.456030,13.226376
6912,2014-12-02,271731944.0,13.353961,13.694189,13.294421,13.745224,13.464535
...,...,...,...,...,...,...,...
7784,2018-04-05,290862450.0,22.747088,23.087868,22.747088,23.248792,22.983741
7779,2018-03-29,298970387.0,22.784952,22.548299,22.510435,22.917478,22.794418
7783,2018-04-04,306305460.0,22.898546,22.614562,22.586164,22.983741,22.766020
7782,2018-04-03,232215908.0,22.908012,22.624028,22.595630,22.908012,22.728155
7768,2018-03-14,207251697.0,22.974275,22.548299,22.548299,23.040537,22.889080

In [39]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None