Análise fundamentalista

Fatores determinantes da rentabilidade futura:

-Política de pagamento de dividendos da empresa;

-Desempenho da empresa e de sua posição no respectivo setor de atuação;

-Intensidade da concorrência e da existência de produtos e serviços alternativos;

-Nível de intervenção estatal na área de atuação da empresa;

-Programa de investimentos em bens de capital da empresa;

In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_excel('fundamentalista.xlsx', header=3, index="3")
df.drop(['Unnamed: 0','Ativo /\nCancelado', 'Bolsa / Fonte','Tipo de Ativo'], axis=1, inplace=True)

In [61]:
newColumns = {
    'Nome': 'EMPRESA',
    'Classe': 'CLASSE',
    'Código': 'ATIVO',
    'PU\n26Fev20\najust p/ prov\nEm moeda orig': 'PRECO_ACAO',
    'Qtd Ações\nOutstanding\nda empresa\nem milhares\n26Fev20': 'QTD_ACOES',
    'LPA\n Mais recente\n Em moeda orig\n de 12 meses\n consolid:sim*\n ajust p/ prov': 'LUCRO_P_ACAO',
    'Patrim Liq\n Mais recente\n Em moeda orig\n em milhares\n consolid:sim*': 'PATRIMONIO_LIQ',
    'EV\n26Fev20\nEm moeda orig\nem milhares\nconsolid:sim*': 'ENTERPRISE_VALUE',
    'EBITDA\n Mais recente\n Em moeda orig\n em milhares\n de 12 meses\n consolid:sim*': 'EBITDA',
    'Div Tt Lq\n Mais recente\n Em moeda orig\n em milhares\n consolid:sim*': 'DIV_LIQ',
    'Lucro Liquido\n Mais recente\n Em moeda orig\n em milhares\n no exercício\n consolid:sim*': 'LUCRO_LIQ',
    'DivPag\n Mais recente\n Em moeda orig\n em milhares\n no exercício\n consolid:sim*': 'DIVIDENDOS',
    'Payout Ratio': 'PAYOUT_RATIO',
    'Div Yld (inic)\n26Fev20\n1 anos\nEm moeda orig': 'DIV_YIELD',
    'VPA': 'VPA',
    'P/VPA': 'PVPA',
    'EV/EBITDA': 'EVEBITDA',
    'P/L': 'PL',
    'ROIC (IC fim) %\n Mais recente\n de 12 meses\n consolid:sim*': 'ROIC',
    'RenPat(fim)\n Mais recente\n de 12 meses\n consolid:sim*': 'ROE',
    'LiqSec\n Mais recente\n consolid:sim*': 'LIQ_SECA',
    'LiqCor\n Mais recente\n consolid:sim*': 'LIQ_COR',
    'GiroAt\n Mais recente\n de 12 meses\n consolid:sim*': 'GIRO_ATIVO',
    'Alavancagem': 'ALAVANCAGEM',
    'Margem Liquida\n Mais recente\n de 12 meses\n consolid:sim*' : 'MARG_LIQ'
}
df.rename(newColumns,axis=1,inplace=True)
colunasNumericas = [
    'PRECO_ACAO',
    'QTD_ACOES',
    'LUCRO_P_ACAO',
    'PATRIMONIO_LIQ',
    'ENTERPRISE_VALUE',
    'EBITDA',
    'DIV_LIQ',
    'LUCRO_LIQ',
    'DIVIDENDOS',
    'PAYOUT_RATIO',
    'DIV_YIELD',
    'VPA',
    'PVPA',
    'EVEBITDA',
    'PL',
    'ROIC',
    'ROE',
    'LIQ_SECA',
    'LIQ_COR',
    'GIRO_ATIVO',
    'ALAVANCAGEM',
    'MARG_LIQ'
]
df.replace('-', 0, inplace=True)
df[colunasNumericas] = df[colunasNumericas].astype(float)
df.describe()

,PRECO_ACAO,QTD_ACOES,LUCRO_P_ACAO,PATRIMONIO_LIQ,ENTERPRISE_VALUE,EBITDA,DIV_LIQ,LUCRO_LIQ,DIVIDENDOS,PAYOUT_RATIO,...,PVPA,EVEBITDA,PL,ROIC,ROE,LIQ_SECA,LIQ_COR,GIRO_ATIVO,ALAVANCAGEM,MARG_LIQ
count,540.000000,5.400000e+02,540.000000,5.400000e+02,5.400000e+02,5.400000e+02,5.400000e+02,5.400000e+02,5.400000e+02,540.000000,...,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000
mean,17.759796,7.648517e+05,-6.372341,6.370739e+06,1.203273e+07,1.519531e+06,3.495020e+06,7.679104e+05,-4.801649e+05,0.308349,...,5.030320,6.603938,22.106486,-23.274150,-48.894836,22.370748,22.811550,0.486920,-3.707767,-101.429116
std,48.690853,3.923461e+06,87.259317,2.449490e+07,4.652701e+07,8.802062e+06,2.048335e+07,3.668706e+06,2.225682e+06,1.923811,...,70.635955,44.912109,188.748180,264.730283,897.385024,220.324001,220.286746,0.476330,70.286838,2170.754543
min,0.000000,1.821500e+01,-930.506454,-1.087215e+07,-5.709879e+05,-7.580170e+05,-1.521976e+07,-6.737531e+06,-2.614222e+07,-24.923001,...,-71.418846,-293.534870,-854.144482,-3122.990020,-20621.739131,0.000000,0.000000,-0.071151,-1587.969512,-22921.297297
25%,0.000000,1.276395e+04,-0.006033,8.431850e+04,0.000000e+00,0.000000e+00,0.000000e+00,-3.039500e+03,-1.814322e+05,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.474708,0.914161,0.103700,0.000000,0.000000
50%,6.800000,9.185677e+04,0.675593,9.868990e+05,1.014236e+06,7.399963e+04,1.701035e+05,3.716300e+04,-6.999000e+03,0.124076,...,0.735727,5.495701,0.000000,5.006068,8.205395,1.095398,1.386086,0.409109,0.381959,5.844458
75%,22.627500,4.807028e+05,2.151899,3.701542e+06,9.735076e+06,9.681110e+05,1.516356e+06,3.115932e+05,0.000000e+00,0.479686,...,2.370902,9.922741,15.881473,8.661510,16.277529,1.833272,2.199195,0.758531,2.398900,14.870816
max,800.000000,8.359690e+07,515.867509,2.955410e+08,6.750358e+08,1.402030e+08,3.178670e+08,4.013700e+07,0.000000e+00,14.244803,...,1633.734343,876.950636,4112.003616,129.892628,263.168036,3608.851852,3608.851852,3.599625,91.897508,12969.426751

In [62]:
newColumns = [
    'EMPRESA',
    'ATIVO',
    'PVPA',
    'PL',
    'ROE',
    'LIQ_COR',
    'ALAVANCAGEM',
    'MARG_LIQ',
    'DIV_LIQ',
    'LUCRO_LIQ',
    'PAYOUT_RATIO',
    'DIV_YIELD',
    'EVEBITDA'
]
df = df[newColumns]

INDICADORES:

PVPA: Valor de mercado / Valor patrimonio (Maior pior, mais alavancado)

PL: Payback (maior "pior")

ROE: Lucro liq / Patr liq (maior melhor)

LIQ_COR: Quanto tem agora de caixa/Quanto deve agora (maior melhor)

ALAVANCAGEM: Divida liquida / EBITDA  (menor melhor)

MARG_LIQ: O quanto resta depois de todas as operaçoes e pagamentos (maior melhor)

EVEBITDA: Quanto demoraria para a empresa se recomprar

In [63]:
df.loc[df.ATIVO == "JHSF3"]

,EMPRESA,ATIVO,PVPA,PL,ROE,LIQ_COR,ALAVANCAGEM,MARG_LIQ,DIV_LIQ,LUCRO_LIQ,PAYOUT_RATIO,DIV_YIELD,EVEBITDA
292,JHSF Part,JHSF3,1.505114,11.990614,10.686969,2.163834,1.052712,51.300823,669243.0,322231.0,0.107414,9.282182,8.255851

In [64]:
outliers = ["MOAR3"]

col = list(df.columns)
col.remove("EMPRESA")
col.remove("ATIVO")
df = df[(df.ROE > 8) & (df.ROE < 60)]
df = df[df.MARG_LIQ > 4.5]
df = df[df.LUCRO_LIQ > 0]
df = df[df.PL > 0]
df = df[df.PVPA < 12]
df = df[~df.ATIVO.isin(outliers)]
df.shape

(157, 13)

In [88]:


df.sort_values("DIV_YIELD")
df

,EMPRESA,ATIVO,PVPA,PL,ROE,LIQ_COR,ALAVANCAGEM,MARG_LIQ,DIV_LIQ,LUCRO_LIQ,PAYOUT_RATIO,DIV_YIELD,EVEBITDA,ALAVANCAGEM_deslocada
1,Abc Brasil,ABCB4,1.065271,8.158962,13.076811,1.025338,0.000000,19.797373,0.0,528399.0,0.426303,5.691057,0.000000,14.352574
2,Aco Altona,EALT3,1.631174,15.293118,10.666063,1.147942,1.773625,5.975610,69668.0,15142.0,0.039427,2.297337,6.959470,16.126200
3,Aco Altona,EALT4,0.924332,8.666100,10.666063,1.147942,1.773625,5.975610,69668.0,15142.0,0.039427,2.708621,6.959470,16.126200
5,AES Tiete E,TIET3,4.436458,22.381709,19.579751,1.164692,2.883510,15.059332,2939303.0,194561.0,0.938580,7.332853,8.910786,17.236084
6,AES Tiete E,TIET4,3.744893,18.892796,19.579751,1.164692,2.883510,15.059332,2939303.0,194561.0,0.938580,7.431501,8.910786,17.236084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,Vulcabras,VULC3,1.885767,13.641175,13.820666,3.913247,-0.045311,10.755126,-10484.0,97983.0,0.000000,0.000000,8.453278,14.307263
530,Weg,WEGE3,11.268218,60.832942,18.280592,2.173426,-0.492445,12.230478,-1105302.0,1614581.0,0.421734,2.320107,43.365801,13.860129
533,Whirlpool,WHRL3,4.123875,7.165530,57.395127,1.038133,-0.285593,24.716838,-213077.0,1621960.0,0.498560,11.742022,16.203108,14.066981
534,Whirlpool,WHRL4,4.752225,8.257333,57.395127,1.038133,-0.285593,24.716838,-213077.0,1621960.0,0.498560,12.100421,16.203108,14.066981
539,Yduqs Part,YDUQ3,5.034287,26.551611,18.934048,2.436475,0.925850,16.835088,1034519.0,588081.0,0.260440,1.818833,15.307485,15.278425

In [119]:
df1 = pd.DataFrame()
df["ALAVANCAGEM_deslocada"] = df.apply(lambda row: row.ALAVANCAGEM - df.ALAVANCAGEM.min(), axis=1)
df1 = df[["EMPRESA", "ATIVO"]].copy()
colunas = ["PVPA", "PL", "ROE", "LIQ_COR", "ALAVANCAGEM_deslocada", "MARG_LIQ", "DIV_YIELD"]
coeficientes_modo = [0, 1, 0, 0, 1, 0, 0]
coeficientes_peso = [0.5, -0.5, 2, 1, -1, 2, 3]
for coluna, modo, peso in zip(colunas, coeficientes_modo, coeficientes_peso):
    df1[coluna] = ((df[coluna] - df[coluna].min()) / (df[coluna].max() - df[coluna].min()) - modo) * peso

                   
df["ALAVANCAGEM_deslocada"].min()
df1["NOTA"] = df1[colunas].apply(lambda row: stats.hmean(row), axis=1)
df1 = df1.sort_values("NOTA", ascending=False)

In [120]:
df.to_excel("Fund_Filtrado.xlsx", index=False)
df1.to_excel("Notas.xlsx", index=False)

BOAS: EUCA4,BAZA4,EMAE4,PSSA3,ITSA4,ITUB4

In [4]:
df
1+1

2